<div class="row">
  <div class="col-md-12">
    <ul class="timeline">
      <li class="time-label">
        <span class="bg-red">20 Feb 2015</span>
      </li>
      <li>
        <i class="fa fa-check bg-blue"></i>
        <div class="timeline-item">
          <h3 class="timeline-header"><a href="javascript:void(0);">Fulano de Tal</a>Termino una tarea</h3>
          <div class="timeline-body">
            Diseñar la maquetación del sitio Web.
          </div>          
        </div>
      </li>
      <li>
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
          <h3 class="timeline-header"><a href="javascript:void(0);">Carlos Tolentino</a>Compartio un recurso</h3>
          <div class="timeline-body">
            Imagenes del prototipo de maquetación
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
