<!-- Layout princial-->
<!DOCTYPE html>
<html ng-app="Teamapp">
    <head>
        <!--Agregamos todos los estilos, que estan en un solo archivo-->
        {% include 'links.html' %}

    </head>
    <body class="skin-blue" >

        <!--En este bloque pondremos todo el contenido de nuestros templates que seran requeridos desde Angular -->
        {% block content %}
        {% endblock %}

        <!--Agregamos todos los scripts, que estan en un solo archivos-->
        {% include 'scripts.html' %}
    </body>
</html>
